name: SonarCloud analysis

on:
  # Trigger analysis when pushing in master or pull requests, and when creating
  # a pull request.
  push:
    branches:
      - master
  pull_request:
      types: [opened, synchronize, reopened]

permissions:
  pull-requests: read # allows SonarCloud to decorate PRs with analysis results

#jobs:
#  sonar:
#    runs-on: ubuntu-latest
#    steps:
#      - name: Set up JDK 17
#        uses: actions/setup-java@v3
#        with:
#          java-version: '17'
#          distribution: 'temurin'    
#      - name: Run Sonar Scan
#        uses: chetanbothra/sonarqube-scan-action@v1
#        with:
#          project_key: dzooli_tvtrader-fetch
#          sonar_host: ${{ secrets.SONARQUBE_HOST }}
#          sonar_token: ${{ secrets.SONARQUBE_TOKEN }}

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: sonarsource/sonarcloud-github-action@master
      env:
        # GITHUB_TOKEN: ${{ secrets.SONAR_GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        args: -X
